#nosotros, #bodega {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: #2e3436 solid 5px;
}

.footer-cinco span, .footer-cuatro h4, .footer-tres h4, .footer-dos div a h5, .footer-dos h4, .footer-uno div div h5, .footer-uno h4, #nosotros div h3, #nosotros div h2, #bodega h2 {
  display: flex;
  font-family: saintCapital;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  color: #2e3436;
}

.footer-cinco, .footer-cuatro, .footer-tres, .footer-dos, .footer-uno {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: #ffa07a;
  border: #2e3436 solid 2px;
}

.footer-cinco, .footer-cuatro form, .footer-tres div, .footer-dos div a, .footer-uno div div, #nosotros div h3, #nosotros div h2, .video-recorrido, #bodega h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */
header {
  background-color: #2e3436;
}
header nav {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
header nav #logo {
  text-decoration: none;
  font-family: saintCapital;
  font-style: italic;
  font-weight: bold;
  background-color: #2e3436;
  color: #FAEBD7;
  text-align: center;
  white-space: nowrap;
}
header nav div #ul-nav {
  display: flex;
  list-style: none;
  margin-top: 0.5rem;
}
header nav div #ul-nav a {
  text-decoration: none;
  text-align: center;
  border: solid #FAEBD7 2px;
  color: #FAEBD7;
  font-family: saintCapital;
  background-color: #2e3436;
  font-weight: bold;
  padding: 0.5em 0.5em;
  margin: 0.5em;
}

@media screen and (min-width: 360px) {
  header nav {
    flex-direction: column;
    justify-content: space-between;
  }
  header nav #logo {
    font-size: 2.7rem;
    padding: 0.2em 0.2em;
  }
  header nav #ul-nav {
    padding-left: 1rem;
  }
  header nav #ul-nav li {
    margin-right: 0.5em;
  }
  header nav #ul-nav li a {
    font-size: 1rem;
    padding: 0.3em 0.3em;
    margin: 0.4em;
  }
}
@media screen and (min-width: 1200px) {
  header nav {
    justify-content: space-between;
    flex-direction: row;
  }
  header nav #logo {
    font-size: 4rem;
    padding: 0.1em 0.1em;
  }
  header nav div {
    justify-content: flex-end;
  }
  header nav div a {
    font-size: 2rem;
  }
}
/* PAGINA INDEX -----------------------------------------*/
/* SECCION BODEGA */
.primera-linea {
  align-items: center;
}

.segunda-linea {
  align-items: center;
}

.parrafo-bodega {
  font-family: saintCapital;
  text-align: justify;
}

.div-img-bodega {
  width: 100%;
}
.div-img-bodega img {
  width: 100%;
  height: auto;
}

.video-recorrido {
  background-color: #ffa07a;
  padding: 2em;
}

@media screen and (min-width: 360px) {
  /* PAGINA INDEX -----------------------------------------*/
  /* SECCION BODEGA */
  #bodega {
    max-width: 95%;
  }
  #bodega h2 {
    font-size: 2rem;
  }

  .segunda-linea {
    flex-direction: column-reverse;
  }

  .caja-parrafo {
    font-size: 1rem;
  }

  .parrafo-bodega {
    font-size: 1rem;
  }

  .div-img-bodega {
    max-width: 330px;
  }
  .div-img-bodega img {
    max-height: 350px;
  }
}
@media screen and (min-width: 1200px) {
  #bodega h2 {
    font-size: 3rem;
    justify-content: start;
  }

  .primera-linea {
    flex-direction: row;
  }

  .segunda-linea {
    flex-direction: row;
  }

  .parrafo-bodega {
    font-size: 1.2rem;
  }

  .div-img-bodega:hover {
    /* Transformacion de escala para las imagenes */
    transform: scale(1.2, 1);
    -webkit-transform: scale(1.2, 1);
    -moz-transform: scale(1.2, 1);
    -o-transform: scale(1.2, 1);
    transition: all 2s;
  }

  .video-recorrido iframe {
    width: 700px;
  }
}
/* SECCION NOSOTROS */
@media screen and (min-width: 360px) {
  #nosotros {
    max-width: 95%;
  }
  #nosotros h2 {
    font-size: 2rem;
  }
  #nosotros h3 {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  #nosotros div h2 {
    font-size: 3rem;
    justify-content: start;
  }
  #nosotros div h3 {
    font-size: 2rem;
    justify-content: start;
  }
}
.footer-uno div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}
.footer-uno div div {
  flex-direction: column;
}
@media screen and (min-width: 360px) {
  .footer-uno h4 {
    font-size: 1.2rem;
    justify-content: center;
  }
  .footer-uno div h5 {
    font-size: 0.9rem;
    margin-right: 0.4em;
  }
}
@media screen and (min-width: 1200px) {
  .footer-uno h4 {
    font-size: 1.7rem;
    justify-content: flex-start;
  }
  .footer-uno div {
    margin-left: 1em;
  }
  .footer-uno div div {
    margin-right: 2em;
    font-size: 1.5rem;
  }
}
.footer-dos div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer-dos div a {
  margin-bottom: 1em;
}
.footer-dos div a h5 {
  margin-left: 0.5em;
}

@media screen and (min-width: 360px) {
  .footer-dos h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5em;
    justify-content: center;
  }
  .footer-dos div a {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 1200px) {
  .footer-dos h4 {
    font-size: 1.7rem;
    margin-bottom: 0.5em;
    margin-left: 1em;
    justify-content: flex-start;
  }
  .footer-dos div {
    margin-left: 1em;
    flex-direction: row;
  }
  .footer-dos div a {
    font-size: 1.5rem;
    margin-right: 1em;
  }
}
.footer-tres div {
  margin-bottom: 1em;
}

@media screen and (min-width: 360px) {
  .footer-tres h4 {
    font-size: 1.2rem;
    justify-content: center;
  }
  .footer-tres div iframe {
    width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tres h4 {
    font-size: 1.7rem;
    margin-left: 1em;
    margin-bottom: 0.5em;
    justify-content: flex-start;
  }
  .footer-tres div {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }
  .footer-tres div svg {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.7rem;
  }
  .footer-tres div iframe {
    width: 500px;
    margin-right: 1em;
  }
}
.footer-cuatro form {
  flex-direction: column;
}

@media screen and (min-width: 360px) {
  .footer-cuatro h4 {
    font-size: 1.2rem;
    justify-content: center;
  }
  .footer-cuatro form {
    margin-bottom: 1em;
  }
  .footer-cuatro form label {
    font-size: 1.2rem;
  }
  .footer-cuatro form input {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .footer-cuatro h4 {
    font-size: 1.7rem;
    margin-bottom: 1em;
    margin-left: 1em;
    justify-content: flex-start;
  }
  .footer-cuatro form {
    flex-direction: row;
    margin-left: 1.8em;
    margin-right: 1.8em;
    margin-bottom: 1em;
  }
  .footer-cuatro form label {
    font-size: 1.5rem;
    margin-left: 1em;
    margin-right: 1.1em;
  }
  .footer-cuatro form input {
    font-size: 1rem;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
@media screen and (min-width: 360px) {
  .footer-cinco span {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .footer-cinco span {
    font-size: 1rem;
    padding-left: 1em;
  }
}
/* Parametros generales */
* {
  margin: 0px;
  padding: 0px;
}

/* font size del html */
html {
  font-size: 1em;
}

/* Fuente Saint Capital*/
@font-face {
  font-family: saintCapital;
  src: url(src/assets/fonts/saint-capital.ttf);
  font-display: swap;
}
/* Fondo */
#body {
  background-color: #FAEBD7;
}

/* PAGINA VINOS -------------------------------------------------*/
.seccion-vinos {
  background-color: #FAEBD7;
  margin-bottom: 2em;
  font-family: saintCapitan;
  background-color: #2e3436;
  color: #FAEBD7;
}

.malbec {
  margin-top: 2em;
}

.seccion-vinos div h2 {
  display: flex;
  justify-content: center;
  font-family: saintCapital;
  font-weight: bold;
  border: #FAEBD7 solid 5px;
}

.vino-container-interior {
  display: flex;
  flex-direction: column;
  border: #FAEBD7 solid 5px;
  align-items: center;
}

.vino-container-interior h3 {
  text-align: center;
  font-family: saintCapitan;
  border: #FAEBD7 solid 5px;
}

.vino-container-interior p {
  font-family: saintCapitan;
  text-align: justify;
}

/* PUNTOS DE VENTA ------------------------------------------------*/
.puntos {
  background-color: #FAEBD7;
  padding-top: 2em;
  padding-bottom: 2em;
}

.puntos h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-family: saintCapital;
  text-decoration: underline;
  color: #2e3436;
}

.mapa-local-mendoza {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #2e3436 5px solid;
  margin-bottom: 2em;
}

.mapa-local-mendoza h3 {
  color: #2e3436;
  text-decoration: underline;
  font-family: saintCapital;
}

.sala-turismo {
  font-size: 1.5rem;
  margin: 1em;
}

.mapa-local-mendoza div {
  background-color: #2e3436;
}

.mapa-local {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #2e3436 5px solid;
  margin-bottom: 2em;
}

.mapa-local h3 {
  color: #2e3436;
  text-decoration: underline;
}

.mapa-local div {
  background-color: #2e3436;
}

.mapa-interno {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CONTACTO ---------------------------------------------------*/
/* Formulario de contato */
.formulario-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #2e3436 10px solid;
  margin-bottom: 2em;
  margin-top: 2em;
  background-color: #FAEBD7;
  padding-top: 2em;
  padding-bottom: 2em;
}

.formulario-contacto h2 {
  font-family: saintCapital;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

.formulario-contacto p {
  font-family: saintCapital;
  text-align: justify;
}

.formulario-contacto form {
  color: #FAEBD7;
  background-color: #2e3436;
  display: flex;
}

/* Atencion al consumidor */
.atencion-consumidor {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #2e3436 10px solid;
  margin-bottom: 2em;
}

/* Animacion para el boton de watsapp */
.boton-wsup {
  fill: #41e175;
  border: #2e3436 solid 2px;
  background-color: #FAEBD7;
  border-radius: 30px;
  padding: 20px;
}

/* Parametros mobile *-------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 360px) {
  /* PAGINA VINOS -------------------------------------------------*/
  .seccion-vinos h2 {
    font-size: 2.9rem;
  }

  .vino-container {
    flex-direction: column;
  }

  .vino-container-interior h3 {
    font-size: 2rem;
  }

  .vino-container-interior p {
    font-size: 1.5rem;
    margin: 1em;
  }

  /* PUNTOS DE VENTA ------------------------------------------------*/
  .puntos h2 {
    font-size: 2.5rem;
    margin: 1em;
  }

  .mapa-local-mendoza h3 {
    margin: 1em;
    font-size: 1rem;
  }

  .sala-turismo {
    font-size: 1.5rem;
    margin: 1em;
  }

  .mapa-local h3 {
    font-size: 1rem;
    margin: 1em;
  }

  .mapa-interno iframe {
    max-width: 250px;
  }

  .mapa-interno svg, .mapa-interno iframe {
    margin: 1em;
  }

  /* CONTACTO ---------------------------------------------------*/
  /* Formulario de contato */
  .formulario-contacto h2 {
    font-size: 2.5rem;
  }

  .formulario-contacto p {
    font-size: 1.5rem;
    margin: 1em;
  }

  .formulario-contacto form {
    flex-direction: column;
  }
}
/* Parametros Desktop *-------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1200px) {
  /* PAGINA VINOS -------------------------------------------------*/
  .seccion-vinos h2 {
    font-size: 3em;
  }

  .vino-container {
    display: flex;
    flex-direction: row;
  }

  /* Transformacion de escala con transicion para los vinos */
  .vino-container-interior:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transition: 2s;
    z-index: 1;
    background-color: #2e3436;
  }

  .vino-container-interior h3 {
    font-size: 2.5em;
  }

  .vino-container-interior p {
    font-size: 1.5rem;
    margin: 1em;
  }

  /* PUNTOS DE VENTA ------------------------------------------------*/
  .puntos h2 {
    font-size: 3rem;
    margin: 0.5em;
  }

  .mapa-local-mendoza h3 {
    color: #2e3436;
    margin: 0.5em;
    text-decoration: underline;
    font-size: 2.5rem;
  }

  .sala-turismo {
    font-size: 2.5rem;
    margin: 0.5em;
  }

  .mapa-local h3 {
    color: #2e3436;
    text-decoration: underline;
    font-size: 2.5rem;
    margin: 0.5em;
  }

  .mapa-interno {
    flex-direction: row;
    align-items: center;
  }

  /* Transformacion con transicion para los mapas */
  .mapa-interno:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transition: 2s;
    z-index: 1;
    background-color: #2e3436;
  }

  .mapa-interno svg, .mapa-interno iframe {
    margin: 1em;
  }

  .mapa-interno iframe {
    width: 700px;
  }

  /* CONTACTO ---------------------------------------------------*/
  /* Formulario de contato */
  .formulario-contacto form {
    flex-direction: row;
  }

  .formulario-contacto form label, .formulario-contacto form input {
    font-size: 1.4rem;
    margin-right: 0.5em;
  }

  /* Atencion al consumidor */
  .atencion-consumidor {
    margin-left: 30%;
    margin-right: 30%;
  }

  .atencion-consumidor h3 {
    font-size: 2rem;
    text-align: center;
  }

  .animacion-wsup:hover {
    animation-name: boton-wsup;
    animation-duration: 10s;
  }

  @keyframes boton-wsup {
    50% {
      background-color: #41e175;
      fill: #FAEBD7;
      transform: scale(2);
      -webkit-transform: scale(2);
    }
    70% {
      border-radius: 20%;
    }
  }
}

/*# sourceMappingURL=style.css.map */
