@import "basic/listas";
@import "basic/exteds";
@import "basic/mixins";
@import "basic/maps";
@import "basic/variables";

@import "components/header";
@import "components/footer";
@import "components/bodega";
@import "components/vinos";
@import "components/venta";
@import "components/contacto";
@import "components/tablet-mq";
@import "components/desktop-mq";


/* Parametros generales */
*{
    margin: 0px ;
    padding: 0px;
}

/* font size del html */
html{
    font-size: 1em;
}

/* Fuente Saint Capital*/
@font-face {
    font-family: saintCapital;
    src: url(src/assets/fonts/saint-capital.ttf);
    font-display: swap; 
}

/* Fondo */
#body {
    background-color: nth($color, 2); 
}