/* SECCION NOSOTROS */

#nosotros{
    background-color:#FAEBD7;
    padding-top: 2em;
    padding-bottom: 2em;
    border: #2e3436 solid 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;

    div{
       
        h2{
            display: flex;
            justify-content: center;
            text-decoration: underline;
            font-family: saintCapital;
            background-color: #FAEBD7;
            color: #2e3436;
            font-style: italic;
            font-weight: bold;
        }

        h3{
            display: flex;
            justify-content: center;
            text-decoration: underline;
            font-style: italic;
            font-weight: bold;
        }
    }
}

@media screen and (min-width:360px){

    #nosotros {
        max-width: 95%;
        h2{
            font-size: 2rem;
        }
        h3{
            font-size: 1.2rem;
        }
    }
}

@media screen and (min-width:1200px){

    #nosotros{
            
        div{
            h2{
                font-size: 3rem;
                justify-content:start;
            }
            h3{
                font-size: 2rem;
                justify-content:start;
            }
        }
    }
}