/* PAGINA INDEX -----------------------------------------*/
/* SECCION BODEGA y NOSOTROS */

#bodega, #nosotros{
    @extend %secciones;
    max-width: 95%;

    h2{
        @extend %flex;
        @extend %encabezados;
        text-decoration: map-get($encabezado , h-text-decoration);
        font-size: 2rem;
    }

    h3{
        @extend %flex;
        @extend %encabezados;
        text-decoration: map-get($encabezado , h-text-decoration);
        font-size: 1.2rem;
    }

    .linea {
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .parrafo-bodega{
            font-family: 'Roboto', sans-serif;
            font-style: italic;
            text-align: justify;
            font-size: 1rem;
        }

        .div-img-bodega{
            img{
                width: 100%;
                height: auto;
            }
        }
    }

    .segunda-linea{
        flex-direction: column-reverse;
    }
}

/*Video recorrido del index*/

.video-recorrido{
    @extend %flex;
    background-color: nth($color, 3);
    padding: 2em;
}
