/* PAGINA INDEX -----------------------------------------*/
/* SECCION BODEGA */

#bodega{
    @extend %secciones;

    h2{
        @extend %flex;
        @extend %encabezados;
        font-weight: map-get($encabezado , h-font-weight);
        font-style: map-get($encabezado , h-font-style);
        text-decoration: map-get($encabezado , h-text-decoration);
    }
    
}

.primera-linea{
    align-items: center;
}
.segunda-linea{
    align-items: center;
}

.parrafo-bodega{
    font-family: saintCapital;
    text-align: justify;
}

.div-img-bodega{
    width: 100%;
    
    img{
        width: 100%;
        height: auto;
    } 
}

.video-recorrido{
    @extend %flex;
    background-color: nth($color, 3);
    padding: 2em;
}

@media screen and (min-width:360px){

    /* PAGINA INDEX -----------------------------------------*/
    /* SECCION BODEGA */
    
    #bodega{
        max-width: 95%;
        h2{
            font-size: 2rem;
        }
    }

    .segunda-linea{
        flex-direction: column-reverse;
    }
    
    .caja-parrafo{
        font-size: 1rem;
    }

    .parrafo-bodega {
        font-size: 1rem;
    }
    
    .div-img-bodega{
        max-width: 330px;
    
        img{
            max-height: 350px;
        }
    }
}

@media screen and (min-width:1200px){
    #bodega{
        
        h2{
            font-size: 3rem;
            justify-content:start;
        }
    }

    .primera-linea{
        flex-direction: row;
    }
    .segunda-linea{
        flex-direction: row;
    }

    .parrafo-bodega {
        font-size: 1.2rem;
    }

    .div-img-bodega{

        
        &:hover{
            /* Transformacion de escala para las imagenes */
            @include prefijos(scale(1.2,1));
            transition: all 2s;
        }
    }

    .video-recorrido iframe {
        width: 700px;
    }

}

