/* CONTACTO ---------------------------------------------------*/
/* Formulario de contato */


.formulario-contacto{
    @extend %secciones;
    @extend %flex;
    flex-direction: column;
    background-color: nth($color, 2);

    h2{
        
        @extend %encabezados;
        text-align: center;
        text-decoration: map-get($encabezado, h-text-decoration);
        // font-weight: map-get($encabezado, h-font-weight);
        font-size: 2.5rem;
    }

    p{
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        text-align: justify;
        font-size: 1.5rem;
        margin: 1em;
    }

    form{
        color: nth($color, 2); 
        background-color: nth($color, 1); 
        display: flex;
        flex-direction: column;
        font-family: butler-encabezados;

        label{
            
        }

        input{
            
        }
    }
}

/* Atencion al consumidor */
.atencion-consumidor{
    @extend %secciones;
    @extend %flex;
    flex-direction: column;

    h3{
        @extend %encabezados;
        text-decoration: map-get($encabezado, h-text-decoration);
        // font-weight: map-get($encabezado, h-font-weight);
        
    }

    .boton-wsup {
    
        fill: #41e175;
        border: nth($color, 1) solid 2px;
        background-color: nth($color, 2);
        border-radius: 30px;
        padding: 20px;

    }
} 
