.footer-tres{
    @extend %footer;
    
    h4{
        @extend %encabezados;
    } 

    div{
        @extend %flex;
        margin-bottom: 1em;
    }
}

@media screen and (min-width:360px){
   
    .footer-tres{
        
        h4{
            font-size: 1.2rem;
            justify-content: center;
        }

        div {
            iframe{
                width: 300px;
            }    
        }

    }
}

@media screen and (min-width:1200px){

    .footer-tres{
        h4{
            font-size: 1.7rem;
            margin-left: 1em;
            margin-bottom: 0.5em;
            justify-content: flex-start;
        }

        div {
            margin-left: 2.5em;
            margin-right: 2.5em;
         
            svg{
                margin-left: 1em;
                margin-right: 1em;
                font-size: 1.7rem;
            }

            iframe{
                width: 500px;
                margin-right: 1em;
            }
        }    
    }
}