.footer-cinco{
    @extend %footer;
    @extend %flex;
    
    span{
        @extend %encabezados;
    } 
}

@media screen and (min-width:360px){
    
    .footer-cinco {
        span{
            font-size: 1rem;
        }      
    }
}

@media screen and (min-width:1200px){
    .footer-cinco {
        span{
            font-size: 1rem;
            padding-left: 1em ; 
        }   
    }
}