.footer-cinco{
    @extend %footer;
    @extend %flex;
    
    span{
        @extend %encabezados;

        @media screen and (min-width:360px){
            font-size: 1rem;
        }      

        @media screen and (min-width:1200px){
            font-size: 1rem;
            padding-left: 1em ; 
        }      
    } 
}