/* Header */

header{
    background-color: nth($color, 1);

    nav{  
        h1{
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            #logo{
                display: flex;
                text-decoration: none;
                font-family: saintCapital;
                font-style: map-get($encabezado , h-font-style);
                font-weight: map-get($encabezado , h-font-weight);
                background-color:nth($color, 1);
                color:nth($color, 2);
                text-align: center;
                white-space: nowrap;
                font-size: 2.4rem;
                padding: 0.2em 0.2em;
            }    
        }

        #ul-nav{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            list-style: none;
            margin-top: 0.5rem;

            li{
                a{
                    text-decoration: none;
                    text-align: center;
                    border: solid nth($color, 2) 2px;
                    color: nth($color, 2);
                    font-family: saintCapital;
                    background-color:nth($color, 1);
                    font-weight: map-get($encabezado , h-font-weight);
                    font-size: 1.2rem;
                    padding: 0.3em;
                } 
            }           
        } 
    }   
}

