@media screen and (min-width:$laptop) and (max-width:$desktop){
    /* Header */

    header{
        nav{
            h1{
                #logo{
                    font-size: 3rem;
                    padding: 0.1em 0.1em;
                }    
            }

            #ul-nav{
                li{
                    a{
                        font-size: 2rem; 
                    } 
                }           
            } 
        }   
    } 

    /* Footer */

    .footer-uno{  
        h4 {
            font-size: 1.7rem;
            margin-bottom: 0.5em;
            justify-content: flex-start;
        }
    
        div{
            margin-left: 0.2em;
            justify-content: space-evenly;
        
            div{
                
                font-size: 1.5rem; 

                h5{
                    
                }
            }
        }
    }

    .footer-dos{ 
        
        h4{
            font-size: 1.5rem;
            margin-bottom: 0.5em;
            margin-left: 1em;
            justify-content: flex-start;
        } 
    
        .container-redes{
            margin-left: 0.5em;
            
            a{
                font-size: 2rem;
                margin-right: 0.5em;
        
                svg{
                    width: 50px;
                    height: 50px;
                }
        
                h5 { 
                    font-size: 1.5rem;
                }                
            }
        }
    }

    .footer-tres{

        h4{
            font-size: 1.7rem;
            margin-left: 1em;
            margin-bottom: 0.5em;
            justify-content: flex-start;
        } 
    
        div{
            svg{
                margin-left: 1em;
                margin-right: 1em;
            }
    
            iframe{
                width: 500px;
                margin-right: 1em;
            }    
        }
    }

    .footer-cuatro{
        h4{
            font-size: 1.7rem;
            margin-bottom: 1em;
            margin-left: 1em;
            justify-content: flex-start;
        } 
        
        form {
            label{
                font-size: 1.2rem;
                margin-right: 0.1em; 
            }
    
            input {
                font-size: 0.7rem;
                margin-right: 0.1em; 
            }  
        }
    }

    .footer-cinco{
        span{
            font-size: 0.9rem;
            padding: 2em ;      
        } 
    }  

    /* INDEX */

    #bodega, #nosotros{

        h2{
            justify-content: flex-start;
            font-size: 3rem;
            
        }
    
        h3{
            font-size: 2rem;
            justify-content: flex-start;
        }
        
        .linea {
            
            .parrafo-bodega{
                font-size: 1rem;
            }
    
            .div-img-bodega{
                

                img{
                    max-height: 300px;  
                } 
            }
    
        }
    
        .segunda-linea{
            
            
        }
    }
    
    .video-recorrido{
        iframe{
            width: 900px;
        }
    }

    /* PAGINA VINOS */

    .seccion-vinos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.25fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        align-items: center;
        justify-items: center;
        grid-template-areas: 
        "titulo titulo"
        "joven guarda"
        "organico premium";
        
        h2 {  
            font-size: 3em;
            padding: 0.2em;
        }

        .joven{
            grid-area: joven; 
        }

        .guarda{
            grid-area: guarda;
        }

        .organico{
            grid-area: organico;
        }

        .premium{
            grid-area: premium;
        }

    }    

    /* PUNTOS DE VENTA ------------------------------------------------*/

    .puntos{

        h2 {
            font-size: 3rem;
            margin: 0.5em;
        }

        .grid-container{
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: 5em 40em;
            grid-row-gap: 10px;
            grid-column-gap: 10px; 
            grid-template-areas: 
            "blanco1 titulo titulo blanco2"
            "turismo turismo san-rafael san-rafael";
            

            h3{
                grid-area: titulo;
            }

            .turismo{
                grid-area: turismo;
            }

            .san-rafael{
                grid-area: san-rafael;
            } 

        }

        .grid-container-2{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 5em 40em;
            grid-column-gap: 50px;
            grid-row-gap: 10px;
            grid-template-areas: 
            "blanco1 titulo blanco2"
            "caba cba rosario";
        
            h3{
                grid-area: titulo;
            }

            .caba{
                grid-area: caba;
            }

            .cba{
                grid-area: cba;
            }

            .rosario{
                grid-area: rosario;
            }
        } 

        .grid-container, .grid-container-2{
            
            h3{
                margin: 0.5em;
                font-size: 2.5rem;
            }

            .mapa-local{
                h3{
                    color:  nth($color, 1 );
                    margin: 0.5em;
                    font-size: 1.5rem;
                }

                .mapa-interno {
                    align-items: center;
        
                    &:hover{
                        @include prefijos (scale(1.5));
                        transition: 2s;
                        z-index: 1;
                        background-color: nth($color, 1 );
                    }

                    svg{    
                    }
                    
                    iframe{
                        max-width: 200px;
                    }

                    .mapa{
                        max-width: 400px;
                    }
                }
            }
        }   
    }

    /* CONTACTO ---------------------------------------------------*/
        
    /* Formulario de contato */

    .formulario-contacto{

        h2{
            
        }

        p{
            
        }

        form{
            flex-direction: row;

            label{
                font-size: 1.4rem;
                margin-right: 0.5em;
            }

            input{
                font-size: 1.4rem;
                margin-right: 0.5em;
            }
        }
    }

    /* Atencion al consumidor */
    .atencion-consumidor{
        
        h3{
            font-size: 2rem;
            text-align: center;
        }

        .boton-wsup {      
            &:hover{
                animation-name: boton-wsup;
                animation-duration: 10s;
    
                @keyframes boton-wsup{
                    50%{
                    
                        background-color: #41e175;
                        fill: #FAEBD7;
                        @include prefijos(scale(2));
                    }
            
                    70%{
                        border-radius: 20%;
                    }
                }
            }
        }
    } 
}