/* SECCION NOSOTROS */

#nosotros{
   @extend %secciones;

    div{
       
        h2{
            @extend %flex;
            @extend %encabezados;
            font-weight: map-get($encabezado , h-font-weight);
            font-style: map-get($encabezado , h-font-style);
            text-decoration: map-get($encabezado , h-text-decoration);
        }

        h3{
            @extend %flex;
            @extend %encabezados;
            font-weight: map-get($encabezado , h-font-weight);
            font-style: map-get($encabezado , h-font-style);
            text-decoration: map-get($encabezado , h-text-decoration);
        }
    }
}

@media screen and (min-width:360px){

    #nosotros {
        max-width: 95%;
        h2{
            font-size: 2rem;
        }
        h3{
            font-size: 1.2rem;
        }
    }
}

@media screen and (min-width:1200px){

    #nosotros{
            
        div{
            h2{
                font-size: 3rem;
                justify-content:start;
            }
            h3{
                font-size: 2rem;
                justify-content:start;
            }
        }
    }
}