@media screen and (min-width:$tablet) and (max-width:$laptop){
    /* Header */

    header{
        nav{
            h1{
                #logo{
                    font-size: 3rem;
                }    
            }

            #ul-nav{
                li{
                    a{
                        font-size: 1.5rem; 
                    } 
                }           
            } 
        }   
    } 

    /* Footer */

    .footer-uno{  
        h4 {
            font-size: 1.7rem;
            margin-bottom: 0.5em;
            justify-content: flex-start;
        }
    
        div{
            margin-left: 0.2em;
        
            div{
                font-size: 1.5rem; 
            }
        }
    }

    .footer-dos{ 
        
        h4{
            font-size: 1.5rem;
            margin-bottom: 0.5em;
            margin-left: 1em;
            justify-content: flex-start;
        } 
    
        .container-redes{
            margin-left: 0.5em;
            
            a{
                font-size: 1.5rem;
                margin-right: 0.5em;
        
                svg{
                    width: 38px;
                    height: 38px;
                }         
            }
        }
    }

    .footer-tres{

        h4{
            font-size: 1.7rem;
            margin-left: 1em;
            margin-bottom: 0.5em;
            justify-content: flex-start;
        } 
    
        div{
            svg{
                margin-left: 1em;
                margin-right: 1em;
                font-size: 1.7rem;
            }
    
            iframe{
                width: 500px;
                margin-right: 1em;
            }    
        }
    }

    .footer-cuatro{
        h4{
            font-size: 1.7rem;
            margin-bottom: 1em;
            margin-left: 1em;
            justify-content: flex-start;
        } 
        
        form {
            label{
                font-size: 1.2rem;
                margin-right: 0.1em; 
            }
    
            input {
                font-size: 0.7rem;
                margin-right: 0.1em; 
            }  
        }
    }

    .footer-cinco{
        span{
            font-size: 0.6rem;
            padding: 2.1em ;      
        } 
    }  

    /* INDEX */

    #bodega, #nosotros{

        h2{
            font-size: 3rem;
        }
    
        h3{
            font-size: 2rem;
        }
        
        .linea {
            .parrafo-bodega{
                font-size: 1.2rem;
            }
    
            .div-img-bodega{
                max-width: 700px;
                height: auto;

                img{
                    max-height: 600px;  
                } 
            }
        }
    }
    
    .video-recorrido{
        iframe{
            width: 700px;
        }
    }

    /* PAGINA VINOS */

    .seccion-vinos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        align-items: center;
        justify-items: center;
        grid-template-areas: 
        "titulo titulo"
        "joven guarda"
        "organico premium";
        
        h2 {  
            font-size: 3em;
            padding: 0.2em;
        }

        .joven{
            grid-area: joven; 
        }

        .guarda{
            grid-area: guarda;
        }

        .organico{
            grid-area: organico;
        }

        .premium{
            grid-area: premium;
        }

        .vino-container{
            height: 804px;
            
            h3{
                font-size: 1.5rem;
                padding: 0.2em;
            }

            img {
                max-width: 250px
            }

            p{
                font-size: 1.5rem;
                margin: 1em;
            }
        }
    }

    /* PUNTOS DE VENTA ------------------------------------------------*/

    .puntos{

        h2 {
            font-size: 3rem;
            margin: 0.5em;
        }

        .grid-container, .grid-container-2{
            
            h3{
                margin: 0.5em;
                font-size: 2.5rem;
            }

            .mapa-local{
                h3{
                    color:  nth($color, 1 );
                    margin: 0.5em;
                    font-size: 1.5rem;
                }

                .mapa-interno {
                    align-items: center;
                    
                    iframe{
                        max-width: 600px;
                    }

                    .mapa{
                        max-width: 600px;
                    }
                }
            }
        }   
    }

    /* CONTACTO ---------------------------------------------------*/
        
    /* Formulario de contato */

    .formulario-contacto{

        form{
            flex-direction: row;

            label{
                font-size: 1rem;
                margin-right: 0.5em;
            }

            input{
                font-size: 1rem;
                margin-right: 0.5em;
            }
        }
    }

    /* Atencion al consumidor */
    .atencion-consumidor{
        
        h3{
            font-size: 2rem;
            text-align: center;
        }
    } 
}