/* PUNTOS DE VENTA ------------------------------------------------*/

.puntos{
    background-color: nth($color , 2 );
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    margin-top: 1em;

    h2 {
        @extend %flex;
        @extend %encabezados;
        // font-weight: map-get($encabezado , h-font-weight );
        text-decoration: map-get($encabezado , h-text-decoration);
        font-size: 1.4rem;
        margin: 1em;
    }

    .grid-container, .grid-container-2{
        
        h3{
            @extend %flex;
            @extend %encabezados;
            text-decoration: map-get($encabezado, h-text-decoration);
            // margin-left: 50%;
            margin: 1em;
            font-size: 1rem;
        }

        .mapa-local{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2em;

            h3{
                @extend %encabezados;
                text-decoration: map-get($encabezado, h-text-decoration);
                margin: 1em;
                font-size: 1rem;
            }

            .mapa-interno {
                background-color: nth($color, 1 );
                display: flex;
                flex-direction: column;
                align-items: center;
    
                svg{
                    margin: 1em;
                }
                
                iframe{
                    margin: 1em;
                    max-width: 250px;
                }
            }
        }
    }   
}