/* PAGINA VINOS -------------------------------------------------*/

.seccion-vinos{
    margin-bottom: 2em;
    background-color: #2e3436;
    color: #FAEBD7;
    
    @media screen and (min-width:1200px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 0.25fr 1.5fr;
        grid-column-gap: 50px;
        grid-row-gap: 10px;
        align-content: center;
        align-items: center;
        justify-items: center;
        grid-template-areas: 
        "blanco titulo titulo blanco2"
        "joven guarda organico premium";
    }
    
    h2 {  
        font-family: saintCapital;
        font-weight: bold;
        border: #FAEBD7 solid 5px;
        grid-area: titulo;

        @media screen and (min-width:360px){
            font-size: 2.9rem;
            display: flex;
            justify-content: center;
        }
        @media screen and (min-width:1200px){

            font-size: 3em;
        }
    }

    .joven{
        grid-area: joven; 
    }

    .guarda{
        grid-area: guarda;
    }

    .organico{
        grid-area: organico;
    }

    .premium{
        grid-area: premium;
    }

    .vino-container{
        display: flex;
        flex-direction: column;
        border: #FAEBD7 solid 5px;
        align-items: center;

        @media screen and (min-width:1200px){
            &:hover{
                transform: scale(1.5);
                -webkit-transform: scale(1.5);
                transition: 2s;
                z-index: 1;
                background-color: #2e3436;
            } 
        }

        h3{
            text-align: center;
            font-family: saintCapitan;
            border: #FAEBD7 solid 5px;

            @media screen and (min-width:360px){
                font-size: 2rem;
            }

            @media screen and (min-width:1200px){
                font-size: 1.5rem;
            }
        }

        img {

            @media screen and (min-width:1200px){
                max-width: 250px;
            }
        }

        p{
            font-family: saintCapitan;
            text-align: justify;
            
            @media screen and (min-width:360px){
                font-size: 1.5rem;
                margin: 1em; 
            }

            @media screen and (min-width:1200px){
                font-size: 1.5rem;
                margin: 1em;
            }
        }
    }
}

.malbec{
    margin-top: 2em;
}

