/* PAGINA VINOS -------------------------------------------------*/

.seccion-vinos{
    @extend %secciones;
    background-color: nth($color, 1);
    color: nth($color, 2);
    
    h2 {  
        display: flex;
        font-family: saintCapital;
        color: nth($color, 2);
        font-weight: map-get($encabezado, h-font-weight);
        border: nth($color, 2) solid 5px;
        grid-area: titulo;
        font-size: 2.9rem;
        justify-content: center;
    
    }

    .vino-container{
        @extend %flex;
        flex-direction: column;
        border: nth($color, 2) solid 5px;
        
        h3{
            text-align: center;
            font-family: saintCapitan;
            border:  nth($color, 2) solid 5px;
            font-size: 2rem;
        }

        img {
        }

        p{
            font-family: saintCapitan;
            text-align: justify;
            font-size: 1.5rem;
            margin: 1em; 
        }
    }
}

.malbec{
    margin-top: 2em;
}
