/* PAGINA VINOS -------------------------------------------------*/

.seccion-vinos{
    @extend %secciones;
    background-color: nth($color, 1);
    color: nth($color, 2);
    
    @media screen and (min-width:1200px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 0.25fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        align-items: center;
        justify-items: center;
        grid-template-areas: 
        "blanco titulo titulo blanco2"
        "joven guarda organico premium";
    }
    
    h2 {  
        display: flex;
        font-family: saintCapital;
        color: nth($color, 2);
        font-weight: map-get($encabezado, h-font-weight);
        border: nth($color, 2) solid 5px;
        grid-area: titulo;

        @media screen and (min-width:360px){
            font-size: 2.9rem;
            justify-content: center;
        }
        @media screen and (min-width:1200px){

            font-size: 3em;
            padding: 0.2em;
        }
    }

    .joven{
        grid-area: joven; 
    }

    .guarda{
        grid-area: guarda;
    }

    .organico{
        grid-area: organico;
    }

    .premium{
        grid-area: premium;
    }

    .vino-container{
        @extend %flex;
        flex-direction: column;
        border: nth($color, 2) solid 5px;
        

        @media screen and (min-width:1200px){
            &:hover{
                @include prefijos (scale(1.5));
                transition: 2s;
                z-index: 1;
                background-color: nth($color, 1);
            } 
        }

        h3{
            text-align: center;
            font-family: saintCapitan;
            border:  nth($color, 2) solid 5px;

            @media screen and (min-width:360px){
                font-size: 2rem;
            }

            @media screen and (min-width:1200px){
                font-size: 1.5rem;
                padding: 0.2em;
            }
        }

        img {
            @media screen and (min-width:1200px){
                max-width: 250px;
            }
        }

        p{
            font-family: saintCapitan;
            text-align: justify;
            
            @media screen and (min-width:360px){
                font-size: 1.5rem;
                margin: 1em; 
            }

            @media screen and (min-width:1200px){
                font-size: 1.5rem;
                margin: 1em;
            }
        }
    }
}

.malbec{
    margin-top: 2em;
}

