/*Extends*/

/*Para las secciones que llevan estos atributos*/
%secciones{
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    border: nth($color, 1) solid 5px;
}   

/*Para los encabezados*/
%encabezados{
    display: flex;
    font-family:butler-encabezados;
    color: nth($color, 1);
}

/*Para el footer*/
%footer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: nth($color, 3);
    border: nth($color, 1) solid 2px;
}

/*Parametros repetidos de flex-box*/
%flex{
    display: flex;
    justify-content: center;
    align-items: center;
}