
%secciones{
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    border: nth($color, 1) solid 5px;
}   

%encabezados{
    display: flex;
    font-family: saintCapital;
    color: nth($color, 1);
}

%footer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: nth($color, 3);
    border: nth($color, 1) solid 2px;
}

%flex{
    display: flex;
    justify-content: center;
    align-items: center;
}